@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

:root{
    --main-color:#ff7978;
    --button1-color:#5d54a3;
    --button2-color:#77e2b4;
    --font1:'Rubik', sans-serif
}
body{
background-image: url('bg-intro-desktop.png');
background-color: var(--main-color);
box-sizing: border-box;
color: #fff;
}

.container{
    display: flex;
    margin: 100px;
    padding: 100px;
}
.item1{
    width: 50%;
}
.item2{
    width: 50%;
}
input{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 20vw;
}
button{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 22vw;

}